---
import BaseLayout from "../layouts/BaseLayout.astro";
import profilePic from "../assets/profile-pic.jpeg";
import CardLayout from "../layouts/CardLayout.astro";
import Toolbox from "../components/Toolbox.astro";
import Contact from "../components/Contact.astro";

import { Image } from "astro:assets";

const name = "Elisha Mutang";
const title = "Software Developer";
const pictureAlt = "profile-picture";
const pictureId = "profile-pic";
---

<style>
  h2,
  h3 {
    color: white;
    margin: 0;
  }

  h3, h3 span {
    font-size: clamp(1rem, 1vw, 1.5rem);
  }

  .profile {
    gap: 0.5rem;
  }

  sup {
    font-size: 0.8rem;
  }

  span {
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
    margin-left: 0.2rem;
  }
</style>

<BaseLayout>
  <nav slot="navbar">
    <div class="nav-links">
      <a href="/" class="active">Home </a>
      <a href=" projects">Projects</a>
    </div>
  </nav>
  <div class="card profile">
    <Image src={profilePic} alt={pictureAlt} id={pictureId} />
    <h1>{name}</h1>
  </div>
  <div class="card title">
    <h2>{title}</h2>
  </div>
  <CardLayout title="Who Am I?" class="intro">
    <p>
      Software developer from Australia with a focus in full-stack web development.
      <br />
      <br />
      <strong>Welcome</strong> to my portfolio where you can check out my projects and also get in touch with me for any
      web development work!
      <br />
      <br />
      Need a website? I can help you with that! Contact me via email so we can chat more!
    </p>
  </CardLayout>
  <CardLayout title="My Toolbox" class="technologies">
    <Toolbox />
  </CardLayout>
  <CardLayout title="Education" class="education">
    <h3>North Metropolitan TAFE <span>2025</span></h3>
    <p>Advanced Programming</p>
    <br />
    <h3>The Odin Project <span>2023 - Current</span></h3>
    <p>Full Stack Web Development</p>
    <br />
    <h3>Curtin University <span>2018 - 2022</span></h3>
    <p>Mechanical Engineering</p>
  </CardLayout>

  <Contact />
</BaseLayout>

<script>
  // Make sure to add this to enable the script to run again after navigating to a different page.
  document.addEventListener("astro:page-load", () => {
    const profile = document.querySelector(".profile");
    const profileImg = document.getElementById("profile-pic");

    if (profile && profileImg) {
      profile.addEventListener("mouseenter", () => {
        profileImg.classList.add("profile-hover");
      });

      profile.addEventListener("mouseleave", () => {
        profileImg.classList.remove("profile-hover");
      });
    }
  });
</script>
