---
import BaseLayout from "../layouts/BaseLayout.astro";
import BattleShipGIF from "../assets/battleship-test.gif";
import ProjectsCard from "../layouts/ProjectsCard.astro";
import KnightTravails from "../assets/knightTravails.gif";
import WeatherApp from "../assets/weatherApp-demo.gif";
import ToDoList from "../assets/todo-demo.gif";
import LiveAndRepo from "../components/LiveAndRepo.astro";
import OrientalKopi from "../assets/oriental-kopi.png";

import "../styles/global.css";
import "../styles/projects.css";
---

<BaseLayout>
  <nav slot="navbar">
    <div class="nav-links">
      <a href="/">Home </a>
      <a href=" projects" class="active">Projects</a>
    </div>
  </nav>
  <ProjectsCard title="Battleship">
    <img slot="img" src={BattleShipGIF.src} alt="Battleship gameplay" class="project-demo" />
    <div class="info">
      <p>Re-created the web version of the classic <strong>Battleship</strong> game!</p>
      <br />
      <p>
        Implemented <strong>drag and drop</strong> as well as the ability to change the ships' orientation.
      </p>
    </div>

    {["Jest", "Drag and Drop API"].map((tech) => <p slot="technologies">{tech}</p>)}

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/battleship/"
      repoLink="https://github.com/elishamutang/battleship"
    />
  </ProjectsCard>

  <ProjectsCard title="Knight Travails">
    <img slot="img" src={KnightTravails.src} alt="Knight Travails demo" class="project-demo" />
    <div class="info">
      <p>
        A project that demonstrates the <i style="color: white"><strong>Breadth-First-Search</strong></i> algorithm in action.
      </p>
      <br />
      <p>
        Created a simple GUI that allows users to pick a <strong>start</strong> and <strong>end</strong> point that will
        display the shortest pathway of the knight on the board.
      </p>
    </div>

    <p slot="technologies">Data Structures and Algorithms</p>

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/knight-travails/"
      repoLink="https://github.com/elishamutang/knight-travails"
    />
  </ProjectsCard>

  <ProjectsCard title="Weather App">
    <img slot="img" src={WeatherApp.src} alt="Weather App demo" class="project-demo" />
    <div class="info">
      <p>A responsive weather web application crafted using HTML, CSS and vanilla JavaScript.</p>
      <br />
      <p>
        Weather data fetched from <a href="https://www.weatherapi.com/" target="_blank">WeatherAPI.</a>
      </p>
    </div>

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/weatherApp/"
      repoLink="https://github.com/elishamutang/weatherApp"
    />
  </ProjectsCard>

  <ProjectsCard title="To-Do List App">
    <img slot="img" src={ToDoList.src} alt="To-Do List App" class="project-demo" />
    <div class="info">
      <p>A minimal To-Do List application inspired by <a href="https://www.any.do/">any.do</a></p>
      <br />
      <p>
        Users are directed to a Home Page where new tasks can be added or ticked off. In addition, users are able to
        create new Lists as well.
      </p>
      <br />
      <p>All tasks are stored in local storage.</p>
    </div>

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/to-do-app/"
      repoLink="https://github.com/elishamutang/to-do-app"
    />
  </ProjectsCard>

  <ProjectsCard title="Oriental Kopi Website">
    <img slot="img" src={OrientalKopi.src} alt="Oriental Kopi home page" class="project-demo" />
    <div class="info">
      <p>
        A clone of the existing <a href="https://www.orientalkopi.asia/" target="_blank">Oriental Kopi website</a>,
        project was mainly to practice building a website using DOM manipulation in JavaScript.
      </p>
    </div>

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/restaurant-page/"
      repoLink="https://github.com/elishamutang/restaurant-page"
    />
  </ProjectsCard>
</BaseLayout>
