---
import BaseLayout from "../layouts/BaseLayout.astro";
import BattleShipGIF from "../assets/battleship-test.gif";
import ProjectsCard from "../layouts/ProjectsCard.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import ExternalLink from "../icons/ExternalLink.astro";
import KnightTravails from "../assets/knightTravails.gif";

import "../styles/global.css";

const pageTitle = "Projects";
const technologies = ["HTML", "CSS", "JavaScript"];
---

<style>
  img {
    border-radius: 0.5rem;
    margin: 1rem 0;
  }

  a.links {
    border: 2px solid hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 20%);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .link-icon {
    font-size: 2rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <nav slot="navbar">
    <div class="nav-links">
      <a href="/">Home </a>
      <a href=" projects" class="active">Projects</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
  <ProjectsCard title="Battleship">
    <img slot="img" src={BattleShipGIF.src} alt="Battleship gameplay" width="100%" />
    <p>Re-created the web version of the classic <strong>Battleship</strong> game!</p>
    <br />
    <p>
      Implemented <strong>drag and drop</strong> as well as the ability to change the ships' orientation.
    </p>

    {technologies.map((tech) => <p slot="technologies">{tech}</p>)}
    {["Jest", "Drag and Drop API"].map((tech) => <p slot="technologies">{tech}</p>)}

    <!-- Live preview and repo links can be a component or part of ProjectsCard -->
    <a slot="live-preview" class="links" href="https://elishamutang.github.io/battleship/" target="_blank"
      ><ExternalLink class="link-icon" /></a
    >
    <a slot="gh-repo" class="links"><GitHubIcon class="link-icon" /></a>
  </ProjectsCard>

  <ProjectsCard title="Knight Travails">
    <img slot="img" src={KnightTravails.src} alt="Knight Travails demo" width="100%" />
    <p>
      A project that demonstrates the <i style="color: white"><strong>Breadth-First-Search</strong></i> algorithm in action.
    </p>
    <br />
    <p>
      Created a simple GUI that allows users to pick a <strong>start</strong> and <strong>end</strong> point that will display
      the shortest pathway of the knight on the board.
    </p>

    {technologies.map((tech) => <p slot="technologies">{tech}</p>)}
    <p slot="technologies">Data Structures and Algorithms</p>

    <a slot="live-preview" class="links" href="https://elishamutang.github.io/knight-travails/" target="_blank"
      ><ExternalLink class="link-icon" /></a
    >
    <a slot="gh-repo" class="links"><GitHubIcon class="link-icon" /></a>
  </ProjectsCard>
</BaseLayout>
