---
import BaseLayout from "../layouts/BaseLayout.astro";
import BattleShipGIF from "../assets/battleship-test.gif";
import ProjectsCard from "../layouts/ProjectsCard.astro";
import KnightTravails from "../assets/knightTravails.webp";
import WeatherApp from "../assets/weatherApp-demo.gif";
import ToDoList from "../assets/todo-demo.gif";
import LiveAndRepo from "../components/LiveAndRepo.astro";
import OrientalKopi from "../assets/oriental-kopi.png";
import CVApp from "../assets/cvappdemo3.gif";
import MemoryCard from "../assets/memorycardgamedemo.webp";
import ShoppingCartDemo from "../assets/shopping-cart.png";

import "../styles/global.css";
import "../styles/projects.css";

import { CircleArrowUp } from "lucide-astro";
---

<BaseLayout isProjects="true">
  <ProjectsCard title="All In One Place">
    <img slot="img" src={ShoppingCartDemo.src} alt="Shopping Cart Demo" class="project-demo" />
    <div class="info">
      <p>
        Developed a single page application (SPA) with shopping cart functionality. Product data taken from
        FakeStoreAPI.
      </p>
      <br />
      <p>Pages include Homepage, Shop, Wishlist, and a Shopping Cart panel.</p>
    </div>

    {["React", "React Router"].map((tech) => <p slot="technologies">{tech}</p>)}

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://allinoneplace.netlify.app/"
      repoLink="https://github.com/elishamutang/shopping-cart"
    />
  </ProjectsCard>

  <ProjectsCard title="Friends Memory Game">
    <img slot="img" src={MemoryCard.src} alt="Memory Card Demo" class="project-demo" />
    <div class="info">
      <p>Developed a Friends themed Memory Card Game using React.</p>
      <br />
      <p>To score a point in this game, you must <strong>not</strong> click on a GIF that has clicked previously.</p>
      <br />
      <p><strong>Give it a go and see if you can get 12 in a row!</strong></p>
    </div>

    {["React"].map((tech) => <p slot="technologies">{tech}</p>)}

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://friendsmemorycard.netlify.app/"
      repoLink="https://github.com/elishamutang/memory-card"
    />
  </ProjectsCard>

  <ProjectsCard title="Craft Your CV">
    <img slot="img" src={CVApp.src} alt="CV App main" class="project-demo" />
    <div class="info">
      <p><strong>Craft your CV in minutes!</strong></p>
      <br />
      <p>
        Developed an online CV builder to enable users to create a quick and easy CV based on the template from Harvard
        College.
      </p>
      <br />
      <p>Features include <strong>Editing / Viewing modes, Reset</strong>, and <strong>Print to PDF</strong>.</p>
    </div>

    {["React"].map((tech) => <p slot="technologies">{tech}</p>)}

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://craftyourcv.netlify.app/"
      repoLink="https://github.com/elishamutang/cv-application"
    />
  </ProjectsCard>

  <ProjectsCard title="Battleship">
    <img slot="img" src={BattleShipGIF.src} alt="Battleship gameplay" class="project-demo" />
    <div class="info">
      <p>Re-created the web version of the classic <strong>Battleship</strong> game!</p>
      <br />
      <p>
        Implemented <strong>drag and drop</strong> as well as the ability to change the ships' orientation.
      </p>
    </div>

    {["Jest", "Drag and Drop API"].map((tech) => <p slot="technologies">{tech}</p>)}

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/battleship/"
      repoLink="https://github.com/elishamutang/battleship"
    />
  </ProjectsCard>

  <ProjectsCard title="Knight Travails">
    <img slot="img" src={KnightTravails.src} alt="Knight Travails demo" class="project-demo" />
    <div class="info">
      <p>
        A project that demonstrates the <i style="color: white"><strong>Breadth-First-Search</strong></i> algorithm in action.
      </p>
      <br />
      <p>
        Created a simple GUI that allows users to pick a <strong>start</strong> and <strong>end</strong> point that will
        display the shortest pathway of the knight on the board.
      </p>
    </div>

    <p slot="technologies">Data Structures and Algorithms</p>

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/knight-travails/"
      repoLink="https://github.com/elishamutang/knight-travails"
    />
  </ProjectsCard>

  <ProjectsCard title="Weather App">
    <img slot="img" src={WeatherApp.src} alt="Weather App demo" class="project-demo" />
    <div class="info">
      <p>A responsive weather web application crafted using HTML, CSS and vanilla JavaScript.</p>
      <br />
      <p>
        Weather data fetched from <a href="https://www.weatherapi.com/" target="_blank">WeatherAPI.</a>
      </p>
    </div>

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/weatherApp/"
      repoLink="https://github.com/elishamutang/weatherApp"
    />
  </ProjectsCard>

  <ProjectsCard title="To-Do List App">
    <img slot="img" src={ToDoList.src} alt="To-Do List App" class="project-demo" />
    <div class="info">
      <p>A minimal To-Do List application inspired by <a href="https://www.any.do/">any.do</a></p>
      <br />
      <p>
        Users are directed to a Home Page where new tasks can be added or ticked off. In addition, users are able to
        create new Lists as well.
      </p>
      <br />
      <p>All tasks are stored in local storage.</p>
    </div>

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/to-do-app/"
      repoLink="https://github.com/elishamutang/to-do-app"
    />
  </ProjectsCard>

  <ProjectsCard title="Oriental Kopi Website">
    <img slot="img" src={OrientalKopi.src} alt="Oriental Kopi home page" class="project-demo" />
    <div class="info">
      <p>
        A clone of the existing <a href="https://www.orientalkopi.asia/" target="_blank">Oriental Kopi website</a>,
        project was mainly to practice building a website using DOM manipulation in JavaScript.
      </p>
    </div>

    <LiveAndRepo
      slot="live-and-repo"
      liveLink="https://elishamutang.github.io/restaurant-page/"
      repoLink="https://github.com/elishamutang/restaurant-page"
    />
  </ProjectsCard>
  <CircleArrowUp class="toTop" />
</BaseLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    const toTopElem = document.querySelector(".toTop");

    if (toTopElem) {
      toTopElem.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    }
  });
</script>
